/* App will be global */
.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr; /* fr is fracsia measure */
  grid-template-columns: 2fr 10fr; /* fr is fracsia measure */
  /* grid-gap: 10px; */
}
